@import "../../styles/variaveis";

.tags {
	align-items: center;
	color: $cor-do-texto;
	display: flex;
	font-family: $fonte-normal;
	font-size: 16px;
	justify-content: space-between;
	width: 62vw;

	p {
		font-size: 1.25rem;
	}

	&__lista {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		width: 380px;

		li {
			background-color: $tag-color;
			border-radius: 8px;
			cursor: pointer;
			padding: 6px 10px;
		}
	}
}
